@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  font-family: 'Calibri', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-family: 'Lilita One', 'Times New Roman', Times, serif;
    font-weight: 400;
  }

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #FFF;
      transition: color 0.2s ease-in;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
