.header {
  &__content {
    background-color: #FFC900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    &__logo {
      font-size: 2rem;
      font-weight: bold;

      &:hover {
        color: #000;
      }
    }

    .menu {
      &__links {
        li {
          list-style-type: none;
          display: inline-block;
          margin-right: 1.5rem;
        }
      }
    }
  
    button {
      margin-right: 1.5rem;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__sub-header {
    position: relative;
    width: 95%;
    height: 10px;
    margin: 0 auto;
    background-color: #000;

    &__triangle {
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #000;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}