.background {
  position: fixed;
  background-image: url("../../medias/background.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;

  .propsLayout {
    z-index: 2;
    position: relative;
    padding: 1.2rem 2rem;
  }

  .opacity {
    background-color: rgba($color: #fff, $alpha: 0.8);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}
