.background {
    background-image: url("../../background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .propsLayout {
        z-index: 2;
        position: relative;
    }

    .opacity {
        background-color: rgba($color: #fff, $alpha: 0.8);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
}

